<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue a mobile ID</title>
  </head>
  <body>
    <div id="Dialog-Push" class="modal open">
      <div class="modal-dialog">
        <div class="modal-body">
          <div class="text-item">
            <h5>Issue a mobile ID</h5>
          </div>

          <div class="info-item">
            <p>
                To issue a mobile ID, please complete the issuance using the following methods.
            </p>

            <ul>
              <li class="text-unerline">
                Enter the DID of OpenDID and send a push to the app.
              </li>
              <li>
                Select the notification on your phone, run the OpenDID app, and proceed with the issuance.
              </li>
            </ul>
          </div>

          <div class="did-item">
            <h5>My DID</h5>
            <div class="input">
              <input id="didDisplay" type="text" disabled />
              <button class="btn-primary" onclick="qrPushSubmit()">
                Request Push
              </button>
            </div>
          </div>

          <div class="caution-item">
            <p>If the app is not installed, it is difficult to receive push notifications.</p>
            <p>
              If you do not receive push notifications, please press the button below to proceed by email.
            </p>
          </div>

          <div class="other-process">
            <p>cannot receive notifications or it is difficult to receive notifications?</p>
            <button class="btn-push" onclick="openEmailPopup()">
                Send QR code by email
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <div class="button-group">
            <button class="btn-secondary" onclick="closePopup()">Close</button>
            <button class="btn-primary" onclick="submitCertificate()">
                Check issuance
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
