<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit a certificate</title>
  </head>
  <body>

    <div id="Dialog-Success" class="modal open">
      <div class="modal-dialog">
        <div class="modal-body">
          <div class="img-wrapper">
            <img src="/images/success.svg" alt="Success Icon" />
          </div>
          <div class="text-item">
            <h5>
              The issuance of the mobile ID <br />
              has been completed.
            </h5>
          </div>
        </div>

        <div class="modal-footer">
          <div class="button-group">
            <button class="btn-primary" onclick="closePopup()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
