$primary: #ff8400;
$O10: #fff4e4;
$secondary: #2f325e;
$N100: #202B45;
$N70: #6d708e;
$Blue: #208dee;

$G90: #1a1a1a;
$G80: #333333;
$G70: #444444;
$G60: #666666;
$G50: #909090;
$G40: #bfbfbf;
$G30: #dedede;
$G20: #efefef;
$G10: #f5f5f7;
$white: #ffffff;
$black: #000000;

$border-color: #d9d9d9;

$info: #2f80ed;
$success: #27ae60;
$warning: #eec035;
$error: #ff1a1a;
